<div class="col-md-4">
  <img src="http://pagead2.googlesyndication.com/simgad/6235916075119015141" border="0" width="300" height="600" alt="" class="img_ad">
</div>

<div class="col-md-8">
<h3>Create a new password</h3>
  <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <%= render "shared/error_messages", :target => @user %>
    
    <%= f.password_field :password, :placeholder => "password" %>
    <%= f.password_field :password_confirmation, :placeholder => "password confirmation" %>
    <br />
    <%= f.submit "Update Password", :class => "btn btn-primary" %></div>
  <% end %>
</div>