<div id="reg-form">
	<%= form_for @user do |f| %>
	<%= render "shared/error_messages", :target => @user %>
	<%= f.text_field :username, :class => 'form-control', :placeholder => 'username', :required => true %>
	
	<small>(Your username will be used as your display handle on ads, comments, etc. Your username can not be changed.)</small>
	<br />
	<%= f.text_field :fname, :class => 'form-control', :placeholder => 'first name', :required => true %>
 	
 	<%= f.text_field :lname, :class => 'form-control', :placeholder => 'last name', :required => true %>
 	
 	<%= f.text_field :email, :class => 'form-control', :placeholder => 'email address', :required => true %>
 	
 	<%= f.number_field :zip, :class => 'form-control', :in => 00100..99999, :placeholder => 'zip code', :required => true %>
 
 	<%= f.password_field :password, :class => 'form-control', :placeholder => 'password', :required => true %>
 	
 	<%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'password confirmation', :required => true %>
 	
 	<%= f.submit 'Create Account', :class => 'btn btn-primary' %>
<% end %>
</div>