<h2>Listings for <%= @user.fname %></h2>
	
	<% unless @user.posts.empty? %> <!-- unless there are no posts for the user -->
		<% @user.posts.each do |post| %>
			<ul>
				<li>
					<%= link_to post.title, post_path(post) %>
					<%#= post.created_at.to_s %>
					<%= Date.strptime(post.created_at.to_s, "%Y-%m-%d %H:%M:%S %Z").strftime("%m/%d/%Y") %>
					<%= link_to "Edit", edit_post_path(post), :class => "btn btn-mini" %>
					<%= link_to "Sold", post_path(post, :status => 1), :method => :put, :class => "btn btn-mini"  %>
					


					<%= link_to 'delete', post_path(post), method: :delete, :class => 'btn btn-mini btn-danger', data: { confirm: "Are you sure?" } %>
				</li>
			</ul>
		<% end %>
	<% else %>
	There are currently no listings available.
	<% end %>	