<%= form_for @user do |f| %>
	<%= render "shared/error_messages", :target => @user %>

  <h2>Edit your profile</h2>

  <strong>Username: <%= @user.username %></strong>
  <small>(Note: Your username can not be changed.)</small><br />
  <%= f.label :first_name %>
	<%= f.text_field :fname, :class => 'input-large', :required => true %>

	<%= f.label :last_name %>
 	<%= f.text_field :lname, :class => 'input-medium', :required => true %>

  <%= f.label :email_address %>
	<%= f.text_field :email, :class => 'input-large', :required => true %>

	<%= f.label :zip_code %>
	<%= f.number_field :zip, :class => 'input-medium', :in => 00100..99999, :required => true %>

  <%= f.label :password %>
  <%= f.password_field :password, :class => 'input-large' %>

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation, :class => 'input-large' %><br />

  <%= f.submit "Save changes", class: "btn btn-primary" %><%= f.button "Cancel", class: "btn" %>
<% end %>