<div id="user-edit">
  <%= form_for @user do |f| %>
  	<%= render "shared/error_messages", :target => @user %>

    <h3>Edit your profile</h3>
      <%= link_to "Delete Account", user_path(@user), class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "Are you sure? This will also remove all listings from your account and can not be undone." } %>

    <div class="username">Username: <%= @user.username %>
      <small>(Note: Your username can not be changed.)</small>
    </div>
    
    <%= f.label :first_name %>
  	<%= f.text_field :fname, :class => 'form-control', :required => true %>

  	<%= f.label :last_name %>
   	<%= f.text_field :lname, :class => 'form-control', :required => true %>

    <%= f.label :email_address %>
  	<%= f.text_field :email, :class => 'form-control', :required => true %>

  	<%= f.label :zip_code %>
  	<%= f.number_field :zip, :class => 'form-control', :in => 00100..99999, :required => true %>

    <%= f.label :password %>
    <%= f.password_field :password, :class => 'form-control' %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation, :class => 'form-control' %><br />

    <div class="submit-group">
      <%= f.submit "Save changes", class: "btn btn-primary" %><%= f.button "Cancel", class: "btn btn-default" %>
    </div>
  <% end %>
</div>  
