<div class="span8">
	<div class="edit-buttons">
		<%= link_to 'edit', edit_post_path(@post), :class => 'btn btn-inverse' %>
		<%#= link_to 'upload photos', new_post_image_path(@post) %>
		<%= link_to 'delete', @post, method: :delete, :class => 'btn btn-danger', data: { confirm: "Are you sure?" } %>
	</div>

	<div>
		<h2><%= @post.title %></h2>
		<h4><%= @post.price %></h4>
		<%= link_to 'Contact seller', edit_post_path(@post), :class => 'btn btn-info' %>
	</div>	
	<div class="description">
		<%= simple_format(@post.description) %>

		<div class="row-fluid">
			
			  <ul class="thumbnails">
			    <% @post.images.order('created_at ASC').each do |pic| %>
			     	<li>
			     		<%= link_to image_tag(pic.image_file.url(:thumb).to_s), pic.image_file_url, rel: 'shadowbox[gallery]' %>	
							

							<%#= link_to 'Remove', post_image_path(@post, pic.id), :confirm => "Delete this photo?", :method => 'delete' %>
						</li>
			    <% end %>
			  </ul>
			</div>
		
	</div>
</div>

<div class="span4">
	<img src="http://pagead2.googlesyndication.com/simgad/6235916075119015141" border="0" width="300" height="600" alt="" class="img_ad">
</div>






