<ul class="breadcrumb">
  <li><a href="#">Home</a> <span class="divider">/</span></li>
  <li><a href="#">Library</a> <span class="divider">/</span></li>
  <li class="active">Data</li>
</ul>

<div class="span8">
	<% if session[:user_id] == @post.user_id && @post.status == 0  %>
		<div class="edit-buttons">
			<%= link_to 'edit', edit_post_path(@post), :class => 'btn btn-inverse' %>
			<%#= link_to 'upload photos', new_post_image_path(@post) %>
			<%= link_to 'delete', @post, method: :delete, :class => 'btn btn-danger', data: { confirm: "Are you sure?" } %>
		</div>
		<% elsif @post.status == 1 %>
			<div class="marked-sold">This transaction was completed on <%= updated_at_time(@post) %></div>	
	<% end %>
	<div>
		
		<h2><%= @post.title %></h2>
		<h4><%= number_to_currency( @post.price, :unit => currency_type(@post.currency)) %></h4>
		<div class="btn-group">
		  <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#">
		    <%= @user.fname %>&nbsp;(42)
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <% if current_user %>
					<li><%= mail_to @user.email, 'Contact Seller' %></li>
					<li><%= link_to 'View Other Listings', user_path(@user) %></li>		
				<% else %>
					<li><%= link_to 'Contact Seller', login_path %></li>
					<li><%= link_to 'View Other Listings', user_path(@user) %></li>
				<% end %>		
		  </ul>
		</div>
		
	</div>	
	<div class="description">
		<%= simple_format(@post.description) %>

		<div class="row-fluid">
			
			  <ul class="thumbnails">
			    <% @post.images.order('created_at ASC').each do |pic| %>
			     	<li>
			     		<%= link_to image_tag(pic.image_file.url(:thumb).to_s), pic.image_file_url, rel: 'shadowbox[gallery]' %>	
							

							<%#= link_to 'Remove', post_image_path(@post, pic.id), :confirm => "Delete this photo?", :method => 'delete' %>
						</li>
			    <% end %>
			  </ul>
			</div>
	</div>
	<div class="comments">
		<h3>Comments</h3>
		<% @comments.each do |comment| %>
			<ul>
				<li>
					<div class="author">
						posted by <%= link_to comment.user.fname, user_path(comment.user_id) %> <%= time_ago_in_words(comment.created_at) %> ago
						<% if check_time_since_post(comment) && correct_user(comment.user) %>
							<%= link_to "Edit", edit_comment_path(comment), :class => "btn btn-mini" %>
						<% end %>	
					</div>
					<div class="comment-text">
						<%= simple_format(comment.comment) %>
					</div>
				</li>
			</ul>
		<% end %>
		<% if current_user %>
			<%= render "comments/form" %>
		<% else %>
			<div class="comment-login">
				You must be <%= link_to "logged in", login_path %> to make a comment.
			</div>
		<% end %>	
	</div>
</div>

<div class="span4">
	<img src="http://pagead2.googlesyndication.com/simgad/6235916075119015141" border="0" width="300" height="600" alt="" class="img_ad">
</div>






