<!DOCTYPE html>
<html>
<head>
  <title>Bikepeddler</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
	  Shadowbox.init({
	  	overlayOpacity: .90,
	  	continuous: true
	  });
	</script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


	<div class="navbar navbar-fixed-top">
		<div class="container">
		  <div class="navbar-inner">
		    <a class="brand" href="/"><%= image_tag "hplogo.png", :alt => "Heavy Peddler" %></a>
		    <!-- <ul class="nav">
		      <li class="active"><a href="#">Forums</a></li>
		      <li><a href="#">About</a></li>
		      <li><a href="#">Contact</a></li>
		    </ul> -->

		    <form class="form-search">
				  <input type="text" class="input-medium">
				  <button type="submit" class="btn">Search</button>
				</form>
		    
			  <div class="login-area">	
				  <% if current_user %>
				  	<div class="user-status">Welcome <%= link_to current_user.fname, user_path(current_user) %></div>
				  <div class="btn-group">	
				  	<button class="btn"><%= link_to "Post Ad", new_post_path %></button>
				  	<button class="btn"><%= link_to "Log Out", logout_path(current_user) %></button>
				  <% else %>
				  <div class="btn-group">
					  <button class="btn"><%= link_to "Post Ad", login_path %></button>
				  	<button class="btn"><%= link_to "Login", login_path %></button>
				  	<button class="btn"><%= link_to "Register", signup_path %></button>
				  <% end %>	
				</div>
			</div>	
	  </div>

		  
		</div>
</div>
   

  <div class="container">
    <div class="row-fluid">
      
      	<%= yield %>
      
      
    </div>
  </div>

<%= render 'posts/footer' %>


</body>
</html>
